<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to CS Connect, <%= @student.firstName %></h1>
    <p>
      You have successfully signed up to CS Connect.<br/>
    </p>

    <p>Thank you!</p>
  </body>
</html>