<h1><strong><%= @company.name %>'s Profile </strong></h1>


<p>
  <strong>Email: </strong>
<%= @company.companyEmail %>
</p>

<p>
  <strong>Name: </strong>
<%= @company.name %>
   
  
</p>

<p>
  <strong>Jobs: </strong>

</p>
<br/>
<%= link_to "Back to Login", login_index_path %>
